
:root {
  --bg: #0f0f0f;
  --text: #ffffff;
  --primary: #a855f7;
}

.titulo {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}


.subtitle {
  color: #ffffff;
  font-size:15px;
}

/* BASE */
body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Inter', sans-serif;
  padding-top: 70px;
  transition: 0.4s;
  padding-bottom: 60px;
}

.navbar-custom {
  background: transparent;
}

.navbar {
  background: transparent;
  transition: 0.3s;
}

.navbar.scrolled {
  background: rgba(15,15,15,0.9);
  backdrop-filter: blur(15px);
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

body.light .navbar {
  background: rgba(255,255,255,0.8);
}

.navbar.scrolled {
  backdrop-filter: blur(15px);
}

.navbar-brand {
  color: var(--text);
  font-weight: bold;
}

.nav-link {
  color: var(--text);
}

.nav-link:hover {
  color: var(--primary) !important;
}

.nav-link {
  position: relative;
  color: var(--text);
}
.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-brand,
.nav-link {
  color: var(--text) !important;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-glow {
  position: absolute;
  width: 500px;
  height: 500px;
  background: var(--primary);
  filter: blur(150px);
  opacity: 0.3;
}

/* FADE */
.fade-in {
  opacity: 0;
  transform: translateY(40px);
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s;
}



.card {
  background-color: #1a1a1a;
  color: #fff;
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}
.card-body {
  background-color: #ffffff;
  color: #000;
}
/* Rodapé */
footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  background-color: black;
}

